
body {
    background: #f2f2f2;
}
.home-container {
 display: flex;
}
.home-form {
    flex: 0.5;
}
.home-list {
    flex: 1;
}

@media only screen and (max-width: 1100px) {
    .home-container {
        display: inline;
    }
    .home-form {
        width: 450px;
        margin: auto;
        padding-left: 10px;
    }
    .home-list {
        width: 100%;
        flex: none;
    }
}
