.list-container {
  margin-right: 10px;
}
.list-header {
    width: 98%;
    margin: auto;
    background: #20a2ff;
    height: 50px;
    padding-left: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    color: white;
    font-size: 18px;
}
.list-header p:first-child{
    width: 50%;
    padding-left: 30px;
}
.list-container ul {
    margin: auto;
    padding: 0;
    box-shadow: 0 2px 5px #ddd;
    width: 98%;   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.list-container li{
    list-style: none;
    margin: auto;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ddd;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.list-circle {
    max-width: 10px;
    min-width: 10px;
    min-height: 10px;
    background: #33688e;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}
.task-list {
    width: 50%;
}

.list-container li button {
    height: 35px;
    background: #20a2ff;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}
.delete-list {
    margin-left: 5px;
    width: 10%;
}
.date-list {
    width: 14%;
}
.group-list {
    width: 10%;
}
.priority-list {
    width: 10%;
}

@media only screen and (max-width: 700px) {
    .list-header p {
        font-size: 14px;
    }
   li p {
       font-size: 12px;
   }
   .list-container li button {
    height: 30px;
    margin-right: 5px;
    font-size: 10px;
}
}

